@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Libratica Way<br />
    Biblotica Alexandria, EA 3445<br />
    <abbr title="Phone">P:</abbr>
    69.69.69.69
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Libratica@example.com">Libratica@example.com</a><br />
</address>