@{
    ViewBag.Title = "Home Page";
}
    
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <img src="~/Content/Images/Banner.jpg" width="960" height="300" />
            </div>
        </div>
   

        <div class="row">
            <div class="container">
                <div class="col-lg-4"><h1>Welcome to Libratica!</h1></div>
                <div class="col-lg-4"><h1>Book News!</h1></div>
                <div class="col-lg-4"><h1>Get in Contact!</h1></div>
            </div>
            <div class="container">
                <div class="col-lg-4"><p>Libratica is the ultimate online library! Rent from a large collection of books!</p></div>
                <div class="col-lg-4"><p>When you sign up at Libratica you automatically get sent information on the newest and hottest releases!</p></div>
                <div class="col-lg-4"><p>Is there a book you think we should have? Or maybe you just want to talk to fellow booknerds? Head over to the contact page and get in touch!</p></div>
            </div>
        </div>
     