@model Library.Models.User
@using Library.BusinessLogic
@{
    string profileinfo = ProfileInfo.ProfileLogic();
}


@{
    ViewBag.Title = "User";
}

<h2>Profile Information</h2>


<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mail:
        </dt>
        <dd>
            @profileinfo
        </dd>
        </dl>
           
</div>
<div>
        @Html.ActionLink("Back to Homepage", "Index") 
</div>
